build/
node_modules/
fonts/
img/
.editorconfig
.eslintrc
.gitattributes
travis.yml
Contributing.md
Howto.md
package.json
package-lock.json
README.md
Specification.md
.DS_Store
Thumbs.db
.idea
*.sublime*
*.log
*.psd
*.ai
*.pdf
yarn.lock
npm-debug.log*
